body{
    width: 950px;
    margin: auto;
    margin-top: 50px;
}
img{
    width: 100px;
}
table{
    width: 650px;
}
#tab_td{
    background-color: orange;
    height: 24px;
    font-size: medium;
    color: white;
    text-align: center;
}